.TTT {
    display: grid;
    border: 1px solid #6d6d6d;
}

.noborderleft { border-left: none; }
.noborderright { border-right: none; }
.nobordertop { border-top: none; }
.noborderbottom { border-bottom: none; }