.Game {
    position: relative;
    aspect-ratio: 1/1;
    user-select: none;
    background-color: #101010;

    &_TicTacToes {
        display: grid;
        width: 100%;
        height: 100%;
    }

    &_Winner {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}